In [14]:
# Dependencies
import pandas as pd

In [15]:
#csv_path = "Resources/purchase_data.csv"
#Import the purchase_data.csv file as DataFrame
purchase_data = pd.read_csv("Resources/purchase_data.csv",encoding="utf-8")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
#For reference
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [17]:
purchase_data = purchase_data.rename(columns={"SN":"Players"})

In [18]:
#Player Count
# Calculate the number of unique Players in the DataFrame
Total_Players = purchase_data["Players"].nunique()
Total_Players_df = pd.DataFrame({"Total Players":[Total_Players]})
Total_Players_df.head()

   Total Players
0            576

In [19]:
#Purchasing Analysis
#Unique_Items = len(purchase_data["Item Name"].unique())
#Total_Revenue = sum(purchase_data["Price"])
Unique_Items = purchase_data["Item ID"].nunique()
Average_Price = round(purchase_data["Price"].mean(),2)
Number_Purchases = purchase_data["Item Name"].count()
Total_Revenue = purchase_data["Price"].sum()
Purchasing_Analysis = pd.DataFrame({"Number of Unique Items":[Unique_Items],
                                    "Average Price":[Average_Price],
                                    "Number of Purchases":[Number_Purchases],
                                    "Total Revenue":[Total_Revenue]})
#Cleaner format
Purchasing_Analysis["Average Price"] = Purchasing_Analysis["Average Price"].map("${:,.2f}".format)
Purchasing_Analysis["Total Revenue"] = Purchasing_Analysis["Total Revenue"].map("${:,.2f}".format)
Purchasing_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [20]:
#Gender Demographics
Gender_Groups_df = purchase_data.groupby(["Gender"])
Gender_Count = Gender_Groups_df["Players"].nunique()
Gender_Percent = Gender_Count / Total_Players * 100
Gender_Demographics = pd.DataFrame({"Total Count": Gender_Count,
                         "Percentage of Players": Gender_Percent})
#Cleaner format
Gender_Demographics["Percentage of Players"] = Gender_Demographics["Percentage of Players"].map("{:,.2f}%".format)
Gender_Demographics.sort_values(["Total Count"], ascending=False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [26]:
#Purchasing Analysis (Gender)
Purchase_Count = Gender_Groups_df["Purchase ID"].count()
Average_Purchase_Price = Gender_Groups_df["Price"].mean()
Total_Purchase_Value = Gender_Groups_df["Price"].sum()
Average_Purchase_Person = Total_Purchase_Value / Gender_Count
Purchasing_Analysis = pd.DataFrame({"Purchase Count": Purchase_Count,
                                   "Average Purchase Price": Average_Purchase_Price,
                                   "Total Purchase Value": Total_Purchase_Value,
                                   "Avg Total Purchase Purchase per Person": Average_Purchase_Person})
#Cleaner format
Purchasing_Analysis["Average Purchase Price"] = Purchasing_Analysis["Average Purchase Price"].map("${:,.2f}".format)
Purchasing_Analysis["Avg Total Purchase Purchase per Person"] = Purchasing_Analysis["Avg Total Purchase Purchase per Person"].map("${:,.2f}".format)
Purchasing_Analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Purchase per Person
Gender,,,,
Female,113,$3.20,361.94,$4.47
Male,652,$3.02,1967.64,$4.07
Other / Non-Disclosed,15,$3.35,50.19,$4.56

In [22]:
#Age Demographics, (See ex: 4.3.4 Binning Ted)
#Create bins/labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Slice data and place into bins
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels= group_labels)
# Place the data series into a new column inside of the DataFrame
Age_Group_df = purchase_data.groupby(["Age Groups"])

In [23]:
#Simple calculations
Age_Count = Age_Group_df["Players"].nunique()
Age_Percentage = Age_Count / Total_Players * 100
#Summary dataframe
Age_Demographic_df = pd.DataFrame({"Total Count": Age_Count,
                                  "Percentage of Players": Age_Percentage})
#Cleaner format
Age_Demographic_df["Percentage of Players"] = Age_Demographic_df["Percentage of Players"].map("{:.2f}%".format)
print(Age_Demographic_df)

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [24]:
#Purchasing Analysis (Age)
#Simple Calculations
Purchase_Count = Age_Group_df["Purchase ID"].count()
Average_Purchase_Price = Age_Group_df["Price"].mean()
Total_Purchase_Value = Age_Group_df["Price"].sum()
Average_Purchase_Person = Total_Purchase_Value / Age_Count
#Summary dataframe
Purchasing_Age_df = pd.DataFrame({"Purchase Count": Purchase_Count,
                                 "Average Purchase Price": Average_Purchase_Price,
                                 "Total Purchase Value": Total_Purchase_Value,
                                 "Avg Total Purchase per Person": Average_Purchase_Person})
#Cleaner format
Purchasing_Age_df["Average Purchase Price"] = Purchasing_Age_df["Average Purchase Price"].map("${:,.2f}".format)
Purchasing_Age_df["Total Purchase Value"] = Purchasing_Age_df["Total Purchase Value"].map("${:,.2f}".format)
Purchasing_Age_df["Avg Total Purchase per Person"] = Purchasing_Age_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
Purchasing_Age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [25]:
#Top Spenders
#DF and calculations
Grouped_Players_df = purchase_data.groupby(["Players"])
Purchase_Count = Grouped_Players_df["Purchase ID"].count()
Average_Purchase_Price = Grouped_Players_df["Price"].mean()
Total_Purchase_Value = Grouped_Players_df["Price"].sum()
#Summary Table
Top_Spenders_df = pd.DataFrame({"Purchase Count": Purchase_Count,
                               "Average Purchase Price": Average_Purchase_Price,
                               "Total Purchase Value": Total_Purchase_Value})
Top_Spenders_df = Top_Spenders_df.sort_values(["Total Purchase Value"], ascending=False)
#Cleaner format
Top_Spenders_df["Average Purchase Price"] = Top_Spenders_df["Average Purchase Price"].map("${:,.2f}".format)

In [13]:
Top_Spenders_df.head()

             Purchase Count Average Purchase Price  Total Purchase Value
Players
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

In [ ]:
#Most Popular Items

In [64]:
#Most Popular Items
opItems_df = purchase_data[["Item ID", "Item Name", "Price"]]
Grouped_opItems_df = opItems_df.groupby(["Item ID", "Item Name"])
#Simple calculations
Purchase_Count = Grouped_opItems_df["Item ID"].count()
Item_Price = Grouped_opItems_df["Price"].mean()
Total_Purchase_Value = Grouped_opItems_df["Price"].sum()
#Summary Table
Most_Popular_Items_df = pd.DataFrame({"Purchase Count": Purchase_Count,
                                     "Item Price": Item_Price,
                                     "Total Purchase Value": Total_Purchase_Value})
#Cleaner format
Most_Popular_Items_df = Most_Popular_Items_df.sort_values(["Purchase Count"], ascending=False)
Most_Popular_Items_df["Total Purchase Value"] = Most_Popular_Items_df["Total Purchase Value"].map("${:,.2f}".format)
Most_Popular_Items_df["Item Price"] = Most_Popular_Items_df["Item Price"].map("${:,.2f}".format)
Most_Popular_Items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [69]:
#Most Profitable Items
Prof_Items_df = purchase_data[["Item ID", "Item Name", "Price"]]
Grouped_Prof_Items_df = Prof_Items_df.groupby(["Item ID", "Item Name"])
#Simple calculations
Purchase_Count = Grouped_Prof_Items_df["Item ID"].count()
Item_Price = Grouped_Prof_Items_df["Price"].mean()
Total_Purchase_Value = Grouped_Prof_Items_df["Price"].sum()
#Summary Table
Most_Popular_Items_df = pd.DataFrame({"Purchase Count": Purchase_Count,
                                     "Item Price": Item_Price,
                                     "Total Purchase Value": Total_Purchase_Value})
#Cleaner format
Most_Popular_Items_df = Most_Popular_Items_df.sort_values(["Total Purchase Value"], ascending=False)
Most_Popular_Items_df["Total Purchase Value"] = Most_Popular_Items_df["Total Purchase Value"].map("${:,.2f}".format)
Most_Popular_Items_df["Item Price"] = Most_Popular_Items_df["Item Price"].map("${:,.2f}".format)
Most_Popular_Items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

In [ ]:
# Heroes of Pymoli Analysis
#From the data we can see that the overwhelming majority of players are male 84.03%.  The largest age demographic is the 20-24 age group at 44.79%.  
#76.74% percent of players are collectively between 15 and 29 years of age.  The largest age demographic spent the most with a total purchase value of $1,114.06  
#The 35-39 age group spend the most on average at $4.76 per person while the over 40 age group spent the lest at $3.19
#Additionaly, the 25-29 age demographic makes up 13.37% of the player base making them the "leet" group.